<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="ChatBot" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\asriv42\Desktop\ChatterBot\venv\Scripts\python.exe %s%s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
